:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
margin: 0px;
}

#roots{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #232323;
  height: 100vh;
  overflow: auto;
}

#root{
  width: 400px;
  background: black;
}

@media(max-width:500px){
  #root{
    width: 100%;
  }
}

.myheader{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topheader{
  width: 90%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.webname{
  width: 50%;
}

.webname h1{
  margin: 0px;
  font-size: 20px;
  color: rgb(0, 200, 250);
  transform: skew(-20deg);
  font-weight: normal;
}

.webname h1 span{
  color: white;
}

.webicon{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  
}

.webicon span{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #ccc;
  cursor: pointer;
}

.menuheader{
  width: 90%;
  height: 7vh;
  overflow: auto;
}
.overflowheader{
  display: flex;
  align-items: center;
  height: 7vh;
}
.menuheader button{
  
  color: white;
  font-size: 13px;
  padding: 10px;
  border-radius: 40px;
  border:none;
  outline: none;
  margin-right: 30px;
  background: #232323;
  font-weight: bold;
  text-shadow: 0px 0px 2px #ccc;
  cursor: pointer;
}

.menuheader button:hover{
  background: linear-gradient(to right, orangered, brown);
}

.bodydiv{
  width: 100%;
  height: 85vh;
  overflow: auto;
}

.amountdiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.amountbox{
  width: 90%;
  overflow:auto;
}

.amountbox span{
  font-size: 13px;
}

.amountbox h1{
  margin-top: 0px;
  font-weight: normal;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}

.amountbox b{
  font-weight: normal;
  font-size: 11px;
  color: #999;

}

.amountbox span{
  font-size: 13px;
}

.limitbar{
  width: 100%;
  border-radius: 10px;
  height: 7px;
  background: #474747;
}

.movinglimit{
  height: 100%;
  border-radius: 10px;
  background: rgb(0, 200, 250);
}

.creditlimit{
  width: 90%;
}
.limitext{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.limitext span{
  font-size: 12px;
  color: #999;
}
.othertokens{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tokenbox{
  width: 90%;
}

.tokenbox span{
  color: white;
}

.tokenrow{
  width: 100%;
  height: 60px;
  margin-top: 10px;
  display: flex;
  background: #232323;
  border-radius: 10px;
  justify-content: center;
}

.tokenhint span{
  font-size: 13px;
}

.divlogo{
  width: 15%;
  display: flex;
  align-items: center;
}

.divlogo span{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  box-shadow: 0px 0px 10px #003366;
}


.divname{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divname span{
  color: white;
  font-size: 13px;
}

.divname b{
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

.divamount{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.divamount span{
  color: white;
  font-size: 13px;
}

.divamount b{
  font-weight: normal;
  font-size: 12px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;

}

.transact span{
  font-size: 13px;
  font-weight: normal;
  text-shadow: none;
}

.transact2 span{
  font-size: 13px;
  font-weight: normal;
  text-shadow: none;
  margin-right: 10px;
}

.transact b{
  font-size: 12px;
}

.transactionrow{
  background: rgba(255, 255, 255,0.1);
  border-radius: 10px;
}

.trl{
  display: flex;
  justify-content: center;
}

.mygames{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mygames button{
  padding: 10px;
  font-size: 15px;
  border:none;
  outline: none;
  border-radius: 10px;
  background: wheat;
  color: orange;
  font-weight: bold;
  margin-right: 10px;
  text-shadow: 0px 0px 2px gold;
}

.moreheader{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerbox{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.headerbox span{
  color: white;
  font-weight: bold;
}

.morebody{
  width: 100%;
  height: 90vh;
  display: flex;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.middlebody{
  width: 90%;
}

.profiletop{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilepic{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background:white;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilepic img{
  width: 70px;

}


.profiletop b{
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.profiletop span{
  color: #ccc;
  font-size: 13px;
}

.tokenusage{
  margin-top: 20px;
}
.tokenusage span{
  font-size: 11px;
}

.rowusage{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: auto;
}

.circleoverflow{
  display: flex;
}

.tokenbalance{
  width: 100%;
  display: flex;
  border-radius: 2px;
  border:1px solid #232323;
  flex-direction: column;
  align-items: center;
}

.tokenname{
  width: 30%;
  border-right: 1px solid #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tokenvalue{
  width: 70%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.tokenrowss{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.tokenrowss span{
  font-size: 12px;
  color: #999;
}

.tokenrowss b{
  font-weight: normal;
  color: #f8f8f8;
  font-size: 13px;
}

.valuetop{
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.valuetop span{
  font-size: 13px;
}

.volumerow{
  width: 95%;
  margin-bottom: 10px;
  
}

.volumename {
  display: flex;
  justify-content: space-between;
  
}

.topvolume{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.volumename span{
  color: #999;
  font-size: 12px;
}

.bottomvolume{
  display: flex;
  justify-content: space-between;
  
}

.lightgreen{
  width: 70%;
  height: 4px;
  background: lightgreen;
  border-radius: 4px;
}

.orangered{
  width: 20%;
  height: 4px;
  background: orangered;
  border-radius: 4px;
}

.mytrow{
  width: 95%;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.personalrow{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personaleft{
  display: flex;
  align-items: center;
}

.personaleft span{
  font-size: 12px;
  color: #ccc;
}

.personalright span{
  font-size: 12px;
  color: aquamarine;
}

.personalright input{
  border:none;
  outline: none;
  background: none;
  text-align: right;
  padding: 0px;
}

.giftform{
width: 100%;
}

.giftform form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.giftform form .input{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #232323;
  border-radius: 5px;
}

.giftform form .input input{
  width: 90%;
  border:none;
  outline:none;
  background: none;
  text-align: center;
  font-size: 18px;
}

.giftform form .input label{
  font-size: 13px;
  color: #999;
}

.giftform form input[type="submit"]{
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, rgb(0, 100, 200), rgb(0,200,250));
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 10px;
}

.rowblue{
  background: #474747;
  display: flex;
  width: 97%;
  padding-left: 3%;
  height: 30px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px; 
}

.hintdiv span{
  font-size: 12px;
  color: #999;
}

.gradersdiv{
  width: 100%;
  display: flex;
  overflow: auto;
  margin-top: 10px;
}

.gradersoverflow{
  display: flex;
}

.graders{
  display: inline-block;
  display: flex;
  flex-direction: column;
   margin-right: 10px;
   align-items: center;
}

.graderpic{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.graderpic b{

  color:#ccc;
  text-shadow: 0px 0px 3px black;
  font-size: 13px;
}

.graderprofile{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: #ccc;
  box-sizing: 0px 0px 3px black;
}

.graders span{
  font-size: 13px;
  color: #999;
}

.bigdiv{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smalldiv{
  width: 350px;
  height: 80vh;
  background: brown;
}

.hintleader{
  font-size: 13px;
}

.leaderbutton{
  margin-top: 10px;
  display: flex;
}

.leaderbutton button{
  height: 30px;
  background:rgba(50, 200, 250,.2);
  color: rgb(0,100,200);
  text-shadow: 0px 0px 1px olive;
  font-weight: bold;
  border:none;
  outline: none;
  padding: 0px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(0, 200, 250);
  margin-right: 10px;
}

.fromleader{
  font-size: 13px;
  color: #999;
  margin-top: 10px;
}

.leaderow{
  display: flex;
  width: 100%;
  height: 60px;
  background: #232323;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.leadernumber{
  color: white;
  background: #474747;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px white;
  z-index: 1;
}

.leaderpicture{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: teal;
  margin-left: -10px;
}

.leaderdivv{
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}

.leaderdivv span{
  color: #ccc;
  font-size: 14px;
}

.leaderpoints{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:3px solid rgb(100, 50,0);
  color: #999;
  text-shadow: 0px 0px 2px white;
  border-radius: 5px;
}

.notificationTitle{
  font-size: 13px;
  color: #999;
}

.notificationrow{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #232323;
  padding-bottom: 20px;
  margin-top: 20px;
}

.sidenot1{
  width: 15%;
  display: flex;
  align-items: center;
}

.sidenot1 span{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #ccc;
}

.sidenot2{
  width: 85%;
}

.topside{
  display: flex;
  justify-content: space-between;
}

.topside span{
  font-size: 13px;

}

.topside b{
  font-size: 12px;
  color: rgb(80, 120, 80);
}

.bottomside{
  margin-top: 5px;
}


.bottomside span{
   font-size: 12px;
   color: #999;
   display: flex;
   width: 85%;
   word-break:normal;

}

.searchnotification{
  width: 100%;
}

.searchnotification input{
  width: 95%;
  outline: none;
  border:1px solid #232323;
  background: none;
  height: 40px;
  padding-left: 5%;
  border-radius: 5px;
}